@import "./all_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@mixin heading-xl-bold {
    font-size: $typography-heading-xl-bold-font-size;
    text-decoration: $typography-heading-xl-bold-text-decoration;
    font-weight: $typography-heading-xl-bold-font-weight;
    font-style: $typography-heading-xl-bold-font-style;
    font-stretch: $typography-heading-xl-bold-font-stretch;
    letter-spacing: $typography-heading-xl-bold-letter-spacing;
}

@mixin heading-1-bold {
    font-size: $typography-heading-1-bold-font-size;
    text-decoration: $typography-heading-1-bold-text-decoration;
    font-family: $typography-heading-1-bold-font-family;
    font-weight: $typography-heading-1-bold-font-weight;
    font-style: $typography-heading-1-bold-font-style;
    font-stretch: $typography-heading-1-bold-font-stretch;
    letter-spacing: $typography-heading-1-bold-letter-spacing;
}

@mixin heading-3-bold {
    font-size: $typography-heading-3-bold-font-size;
    text-decoration: $typography-heading-3-bold-text-decoration;
    font-family: $typography-heading-3-bold-font-family;
    font-weight: $typography-heading-3-bold-font-weight;
    font-style: $typography-heading-3-bold-font-style;
    font-stretch: $typography-heading-3-bold-font-stretch;
    letter-spacing: $typography-heading-3-bold-letter-spacing;
}

@mixin body-text-02 {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $typography-paragraph-lead-font-family;
    background-image: url("./img/bgr.svg");
    background-size: cover;
    a {
        color: $color-primary-500;
        &:hover {
            color: $color-primary-200;
        }
    }
}

.logo-img {
    margin: 3%;
    height: 60px;
}

.container-box {
    width: 1070px;
    padding: auto 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;
    .intro-paragraph,
    p {
        font-size: 26px;
        line-height: 35px;
        color: $color-grays-500;
        font-weight: 300;
        .emphasis {
            font-weight: 700;
        }
    }
}

.heading-xl-bold {
    @include heading-xl-bold;
    font-size: 62px;
    font-weight: 700;
    color: $color-purple-900;
    text-align: center;
    margin-bottom: 25px;
}

.heading-1-bold {
    @include heading-1-bold;
    color: $color-primary-500;
    text-align: center;
}

.heading-3-bold {
    @include heading-3-bold;
}

.selfie-checklist {
    background-image: url("./img/Rectangle-1182.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 1184px;
    height: 470px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.15);
    .sc-steps {
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 50px;
        padding-right: 50px;
        @include body-text-02;
        margin-bottom: 80px;
        .cardItem {
            text-align: center;
            max-width: 300px;
            max-height: 500px;
            margin: 0px 30px;
            .card-img {
                img {
                    margin: 0 auto;
                    max-width: 245px;
                    min-height: 150px;
                    transition: .5s;
                    &:hover {
                        transform: scale(1.2);
                        transition: .5s;
                    }
                }
            }
            .orderNumber {
                background-color: $color-purple-500;
                width: 24px;
                height: 24px;
                color: #fff;
                border-radius: 100%;
                font-size: 13px;
                margin: 0px auto 7px;
            }
        }
    }
}

.inquiries {
    color: $color-grays-500;
    font-size: 26px;
    font-weight: $typography-paragraph-body-2-font-weight;
    text-align: center;
    margin-bottom: 117px;
    font-weight: 300;
}

.bttn {
    min-width: 146px;
    max-height: 46px;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: $typography-heading-6-medium-font-weight;
    font-size: $typography-paragraph-body-2-font-size;
    margin: 5px;
}

.trial-block {
    padding: 20px 25px;
    width: 808px;
    border-radius: 4px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 10%);
    margin: 60px auto;
    h5 {
        margin-bottom: 20px;
    }
    .drag-drop {
        background-color: #dff1f1;
        border: dashed #00847c 2.5px;
        border-radius: 8px;
        width: 760px;
        height: 360px;
        text-align: center;
        .img-upload {
            img {
                margin-top: 20px;
            }
        }
        .actions {
            button {
                img {
                    margin-left: 0px;
                    margin-right: 5px;
                }
            }
        }
        .primary-btn {
            border: 1px solid $color-blue-grays-100;
            border-radius: 4px;
            background-color: white;
        }
        .secondary-btn {
            border: 1px solid $color-primary-500;
            background-color: $color-primary-500;
            color: white;
        }
    }
    .success-upload {
        text-align: center;
        padding: 5%;
        .img-upload {
            img {
                margin: 5% auto;
                max-width: 400px;
            }
        }
    }
    h3 {
        margin-bottom: 10px;
    }
    h6 {
        color: #838e94;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .upload-selfie {
        margin: 20px 0;
        padding: 10px;
        box-shadow: 1px 1px 2px $color-blue-grays-100;
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0px !important;
            margin-left: 10px;
        }
        .selfie-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .selfie-attach {
                width: 56px;
                height: 56px;
                border: 1px solid $color-blue-grays-100;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                .img-attach {
                    object-fit: cover;
                    max-width: 40px;
                    max-height: 35px;
                }
            }
        }
        .upload-title {
            p:nth-child(2) {
                color: $color-grays-300;
            }
        }
        .progress-bar {
            width: 165px;
            height: 12px;
            border-radius: 4px;
            background-color: $color-grays-50;
            margin-left: auto;
            margin-right: 20px;
            .upload-progress {
                border-radius: 4px;
                background-color: $color-yellow-800;
                width: 165px;
                max-width: 70%;
                height: 12px;
            }
        }
        .closeIcon {
            max-width: 16px;
            height: 16px;
            margin-left: auto;
            margin-right: 20px;
        }
    }
    .upload-selfie:last-child {
        display: flex;
        justify-content: space-between;
    }
    .selfie-note {
        font-size: 17px;
        font-weight: 300;
        color: $color-grays-700;
        line-height: 21px;
        margin: 32px auto;
    }
    .disclaimer {
        font-size: 15px;
        color: #212121;
        font-weight: 300;
        display: flex;
        align-items: center;
        .ctn {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover {
                input~.checkmark {
                    background-color: #ccc;
                }
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                &:hover {
                    background-color: #ccc;
                }
                &:checked~.checkmark {
                    background-color: #00a19c;
                    border: solid 1px $color-primary-700;
                }
                &:checked~.checkmark:after {
                    display: block;
                }
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border: solid 1px $color-grays-200;
            border-radius: 4px;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 5px;
                width: 7px;
                height: 12px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    .final-actions {
        text-align: right;
        .main-btn {
            min-height: 48px;
            min-width: 102px;
            padding: 12px 24px;
            border: 1px solid $color-primary-500;
            background-color: $color-primary-500;
            border: none;
            color: white;
        }
        .disabled {
            background-color: $color-primary-100;
        }
    }
}

@media (max-width: 1200px) {
    .selfie-checklist {
        width: 95%;
        height: auto;
        .sc-steps {
            flex-direction: column;
            align-items: center;
            .cardItem {
                text-align: center;
                margin: auto 30px;
                margin: 15px auto;
                .card-img {
                    img {
                        margin: 0 auto;
                        max-width: 150px;
                        min-height: 150px;
                    }
                }
            }
        }
    }
    .trial-block {
        width: auto;
        height: auto;
        .drag-drop {
            width: auto;
            height: 400;
        }
    }
}

@media (max-width: 1199px) {
    .heading-xl-bold {
        @include heading-xl-bold;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
    }
    .heading-1-bold {
        @include heading-1-bold;
        font-size: 20px;
        line-height: 28px;
    }
    .container-box {
        padding: auto 40px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        .intro-paragraph,
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .selfie-checklist {
        .sc-steps {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0px;
        }
    }
    .trial-block {
        .drag-drop {
            min-height: 500px;
            padding: 3%;
            .img-upload {
                margin-top: 5%;
            }
            h6 {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .success-upload {
        text-align: center;
        .img-upload {
            img {
                margin: 5% auto;
                width: 300px;
            }
        }
    }
    .selfie-attach {
        width: 56px;
        height: 56px;
    }
    .inquiries {
        font-size: 20px;
    }
}